<template>
  <v-card class="detail-customer mx-auto" outlined>
    <v-row>
      <v-btn color="primary" dark class="mb-2" @click="editContract">
        Editace
      </v-btn>
      <v-dialog v-model="dialogEdit" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Editace zakazky</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="contractEdit.name"
                      label="Nazev"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="contractEdit.notes"
                      label="POznamk"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="contractEdit.hourRate"
                      label="Hodinovka"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="contractEdit.hourCount"
                      label="Pocet hodin"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="incomeWork"
                      label="Prijem z prace"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeEditDialog"
              >Storno</v-btn
            >
            <v-btn
              color="blue darken-1"
              text
              @click="saveContract"
              :disabled="!valid"
              >Uložit</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn color="primary" dark class="mb-2" @click="backToCustomer">
        zpatky
      </v-btn>
    </v-row>

    <v-row>
      <v-col cols="12" sm="6" md="12">
        <v-text-field
          class="detail-input"
          label="Název"
          placeholder=""
          :disabled="true"
          outlined
          v-model="this.contract.name"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          class="detail-input"
          label="Datum začátku"
          placeholder=""
          outlined
          :disabled="true"
          v-model="startDate"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          class="detail-input"
          label="Datum konce"
          placeholder=""
          outlined
          :disabled="true"
          v-model="endDate"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="2">
        <v-text-field
          class="detail-input"
          label="Hodiny"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.hourCount"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="2">
        <v-text-field
          class="detail-input"
          label="Hodinova sazba"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.hourRate"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="2">
        <v-text-field
          class="detail-input"
          label="Prijem prace"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.incomeWork"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          class="detail-input"
          label="Naklady dily"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.costParts"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          class="detail-input"
          label="Prijmy dily"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.incomeParts"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          class="detail-input"
          label="Zisk dily"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.totalProfitParts"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          class="detail-input"
          label="Cisty zisk celkem"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.totalProfit"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="12">
        <v-text-field
          class="detail-input"
          label="Poznamk"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.contract.notes"
        ></v-text-field>
      </v-col>
    </v-row>
    <!-- CONTRACTS-->
    <v-row>
      <v-col cols="12" sm="12" md="12" class="">
        <template>
          <v-data-table
            :headers="headersSpareParts"
            :items="this.contract.spareParts"
            sort-by="year"
            class="list-class"
            hide-default-footer
          >
            <template v-slot:top>
              <v-toolbar flat>
                <h3>Díly</h3>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-dialog v-model="dialogSpareParts" max-width="500px">
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">
                      Přidat díl
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formSparePartTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-form
                          ref="form"
                          v-model="valid"
                          :lazy-validation="lazy"
                        >
                          <v-row>
                            <v-col cols="12" sm="6" md="12">
                              <v-text-field
                                v-model="editedSparePart.numberCode"
                                label="Kód"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedSparePart.producer"
                                label="Výrobce"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedSparePart.suplier"
                                label="Dodavatel"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field
                                v-model="editedSparePart.purchasePrice"
                                label="Nákupní cena"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field
                                v-model="editedSparePart.sellingPrice"
                                label="Prodejní cena"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field
                                v-model="editedSparePart.count"
                                label="Kusu"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="closeSparePartDialog"
                        >Storno</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="saveSparePart"
                        :disabled="!valid"
                        >Uložit</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editSparePart(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteSparePart(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </template>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import axios from "axios";

export default {
  components: {},
  layout: "dark",
  async fetch({ params, store }) {
    let response = await axios.get(
      process.env.baseUrl + `contract/${params.id}`
    );
    store.commit("SET_CURRENT_CONTRACT", response.data);
  },
  data() {
    return {
      contractEdit: {
        name: "",
        notes: "",
        hourCount: 0,
        hourRate: 0
      },
      dialogSpareParts: false,
      dialogEdit: false,
      lazy: false,
      valid: true,
      headersSpareParts: [
        {
          text: "Kód",
          align: "start",
          value: "numberCode"
        },
        { text: "Výrobce", value: "producer" },
        { text: "Dodavatel", value: "suplier" },
        { text: "Nákupní cena", value: "purchasePrice" },
        { text: "Prodejní cena", value: "sellingPrice" },
        { text: "Zisk za kus", value: "profit" },
        { text: "Kusu", value: "count" },
        { text: "Celkovy zisk", value: "totalProfit" },
        { text: "Actions", value: "actions", sortable: false }
      ],
      editedSparePartIndex: -1,
      editedSparePart: {
        numberCode: null,
        producer: null,
        suplier: null,
        purchasePrice: 0,
        sellingPrice: 0,
        count: 0
      }
    };
  },
  computed: {
    formSparePartTitle() {
      return this.editedSparePartIndex === -1 ? "Přidat díl" : "Editace dílu";
    },
    contract() {
      return this.$store.state.currentContract;
    },
    profit() {
      return (
        this.editedSparePart.sellingPrice - this.editedSparePart.purchasePrice
      );
    },
    totalPurchasePrice() {
      return this.editedSparePart.purchasePrice * this.editedSparePart.count;
    }, //purchasePrice * count
    totalSellingPrice() {
      return this.editedSparePart.sellingPrice * this.editedSparePart.count;
    }, // sellingPrice * count
    totalProfit() {
      return this.totalSellingPrice - this.totalPurchasePrice;
    },
    startDate() {
      return new Date(this.contract.startDate).toLocaleDateString("cs-CZ");
    },
    endDate() {
      return new Date(this.contract.endDate).toLocaleDateString("cs-CZ");
    },
    incomeWork() {
      return this.contractEdit.hourCount * this.contractEdit.hourRate;
    }
  },

  methods: {
    closeSparePartDialog() {
      this.dialogSpareParts = false;
      setTimeout(() => {
        this.editedSparePart.numberCode = null;
        this.editedSparePart.producer = null;
        this.editedSparePart.suplier = null;
        this.editedSparePart.purchasePrice = 0;
        this.editedSparePart.sellingPrice = 0;
        this.editedSparePart.count = 0;
        this.editedSparePartIndex = -1;
      }, 300);
    },

    async saveSparePart() {
      if (this.editedSparePartIndex > -1) {
        let response = await axios.patch(
          process.env.baseUrl + `sparepart/${this.editedSparePart._id}`,
          {
            numberCode: this.editedSparePart.numberCode,

            producer: this.editedSparePart.producer,
            suplier: this.editedSparePart.suplier,
            count: this.editedSparePart.count,
            purchasePrice: this.editedSparePart.purchasePrice,
            sellingPrice: this.editedSparePart.sellingPrice,
            profit: this.profit, // (sellingPrice - purchasePrice)
            totalPurchasePrice: this.totalPurchasePrice, //purchasePrice * count
            totalSellingPrice: this.totalSellingPrice, // sellingPrice * count
            totalProfit: this.totalProfit, // (sellingPrice - purchasePrice) * count
            contract_id: this.contract._id
          }
        );
        this.$store.commit("SET_CURRENT_CONTRACT", response.data);
      } else {
        try {
          let response = await axios.post(
            process.env.baseUrl + `sparepart/${this.contract._id}`,
            {
              numberCode: this.editedSparePart.numberCode,

              producer: this.editedSparePart.producer,
              suplier: this.editedSparePart.suplier,
              count: this.editedSparePart.count,
              purchasePrice: this.editedSparePart.purchasePrice,
              sellingPrice: this.editedSparePart.sellingPrice,
              profit: this.profit, // (sellingPrice - purchasePrice)
              totalPurchasePrice: this.totalPurchasePrice, //purchasePrice * count
              totalSellingPrice: this.totalSellingPrice, // sellingPrice * count
              totalProfit: this.totalProfit, // (sellingPrice - purchasePrice) * count
              contract_id: this.contract._id
            }
          );

          this.$store.commit("SET_CURRENT_CONTRACT", response.data);
          console.log(this.$store.state.currentContract);
        } catch (error) {
          console.log(error);
        }
      }
      this.closeSparePartDialog();
    },

    async deleteSparePart(sparePart) {
      if (confirm("Opravdu chcete smazat auto?")) {
        try {
          let response = await axios.delete(
            process.env.baseUrl + `sparepart/${sparePart._id}`,
            {
              data: {
                contract_id: this.contract._id
              }
            }
          );
          this.$store.commit("SET_CURRENT_CONTRACT", response.data);
        } catch (error) {
          alert(error.response.data.error);
        }
      }
    },

    async editSparePart(sparePart) {
      this.editedSparePartIndex = this.contract.spareParts.indexOf(sparePart);
      this.editedSparePart = Object.assign({}, sparePart);
      this.dialogSpareParts = true;
    },

    backToCustomer() {
      this.$router.push({
        path: "/customer/customer-detail/",
        name: "customer-customer-detail-id",
        params: { id: this.contract.customer_id }
      });
    },

    async saveContract() {
      try {
        let response = await axios.patch(
          process.env.baseUrl + `contract/${this.contract._id}`,
          {
            name: this.contractEdit.name,
            notes: this.contractEdit.notes,
            hourCount: this.contractEdit.hourCount,
            hourRate: this.contractEdit.hourRate,
            incomeWork: this.incomeWork,
            customer_id: this.contract.customer_id
          }
        );
        console.log(response.data);
        this.$store.commit("SET_CURRENT_CONTRACT", response.data);
        this.closeEditDialog();
      } catch (error) {
        console.log(error);
      }
    },

    editContract() {
      this.contractEdit = Object.assign({}, this.contract);
      this.dialogEdit = true;
    },

    closeEditDialog() {
      this.dialogEdit = false;
    }
  }
};
</script>

<style scoped>
body {
  color: white;
}
.detail-input {
  /* padding: 0 12px 0 12px !important; */
  max-height: 50px;
}

.detail-customer {
  min-height: 595px;
  padding: 20px;
  /* margin-left: 20px !important; */
}

.list-class {
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.without-under {
  text-decoration: none;
}
.primary {
  margin-left: 12px;
}
</style>
