<template>
  <v-card class="detail-customer mx-auto" outlined>
    <h2>Detail zakaznika</h2>
    <v-row>
      <v-col cols="12" sm="6" md="6">
        <v-text-field
          class="detail-input"
          label="Jméno"
          placeholder="Placeholder"
          :disabled="true"
          outlined
          v-model="this.customer.name"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="6">
        <v-text-field
          class="detail-input"
          label="Jméno"
          placeholder="Placeholder"
          outlined
          :disabled="true"
          v-model="this.customer.surname"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="6">
        <v-text-field
          class="detail-input"
          label="Email"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.email"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="6">
        <v-text-field
          class="detail-input"
          label="Telefon"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.phone"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="6">
        <v-text-field
          class="detail-input"
          label="Ulice"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.street"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="6">
        <v-text-field
          class="detail-input"
          label="Mesto"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.city"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <v-text-field
          class="detail-input"
          label="Celkem mel zaplatit"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.totalProfit"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-text-field
          class="detail-input"
          label="Celkem zaplatil"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.totalPayment"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-text-field
          class="detail-input"
          label="Dluzi"
          placeholder=""
          outlined
          :disabled="true"
          v-model="this.customer.debt"
        ></v-text-field>
      </v-col>
    </v-row>
    <!-- CONTRACTS-->
    <v-row>
      <v-col cols="12" sm="12" md="12" class="">
        <template>
          <v-data-table
            :headers="headersContract"
            :items="customer.contracts"
            sort-by="startDate"
            class="list-class"
            hide-default-footer
          >
            <template v-slot:top>
              <v-toolbar flat>
                <h3>Opravy</h3>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-dialog v-model="dialogContract" max-width="500px">
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">
                      Přidat opravu
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitleContracts }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-form
                          ref="form"
                          v-model="valid"
                          :lazy-validation="lazy"
                        >
                          <v-row>
                            <v-col cols="12" sm="12" md="12">
                              <v-text-field
                                v-model="editedContract.name"
                                label="Název"
                              ></v-text-field>
                            </v-col>
                            <v-col class="d-flex" cols="12" sm="12">
                              <v-select
                                :items="customer.cars"
                                item-text="factory"
                                item-value="_id"
                                :rules="carRules"
                                label="Auto"
                                @change="changeSelectCar"
                              ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-menu
                                v-model="ContractStartDate"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="editedContract.startDate"
                                    label="Datum začátku"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-date-picker
                                  v-model="editedContract.startDate"
                                  @input="ContractStartDate = false"
                                ></v-date-picker>
                              </v-menu>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-menu
                                v-model="ContractEndDate"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="editedContract.endDate"
                                    label="Datum konce"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-date-picker
                                  v-model="editedContract.endDate"
                                  @input="ContractEndDate = false"
                                ></v-date-picker>
                              </v-menu>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedContract.hourCount"
                                label="Počet hodin"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedContract.hourRate"
                                label="Hodinová sazba"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="incomeWork"
                                label="Celkem za praci"
                                :disabled="true"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="12">
                              <v-text-field
                                v-model="editedContract.notes"
                                label="Poznámka"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="closeContractDialog"
                        >Storno</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="saveContract"
                        :disabled="!valid"
                        >Uložit</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.startDate="{ item }">
              <span>{{
                new Date(item.startDate).toLocaleDateString("cs-CZ")
              }}</span>
            </template>
            <template v-slot:item.endDate="{ item }">
              <span>{{
                new Date(item.endDate).toLocaleDateString("cs-CZ")
              }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <nuxt-link
                class="without-under"
                :to="{
                  path: '/contract/contract-detail/',
                  name: 'contract-contract-detail-id',
                  params: { id: item._id }
                }"
              >
                <v-icon small class="mr-2">
                  mdi-account-details
                </v-icon>
              </nuxt-link>
            </template>
          </v-data-table>
        </template>
      </v-col>
      <!-- CONTRACTS-->
      <!-- PAYMENTS-->
      <v-col cols="12" sm="6" md="6" class="">
        <template>
          <v-data-table
            :headers="headersPayments"
            :items="customer.payments"
            sort-by="date"
            class="list-class"
            hide-default-footer
          >
            <template v-slot:top>
              <v-toolbar flat>
                <h3>Platby</h3>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-dialog v-model="dialogPayments" max-width="500px">
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">
                      Přidat platbu
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitlePayments }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-form
                          ref="form"
                          v-model="valid"
                          :lazy-validation="lazy"
                        >
                          <v-row>
                            <v-col cols="12" sm="6" md="6">
                              <v-menu
                                v-model="PaymentDate"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="editedPayment.date"
                                    label="Datum"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-on="on"
                                  ></v-text-field>
                                </template>
                                <v-date-picker
                                  v-model="editedPayment.date"
                                  @input="PaymentDate = false"
                                ></v-date-picker>
                              </v-menu>
                            </v-col>

                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedPayment.amount"
                                label="Castka"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="closePaymentDialog"
                        >Storno</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="savePayment"
                        :disabled="!valid"
                        >Uložit</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.date="{ item }">
              <span>{{ new Date(item.date).toLocaleDateString("cs-CZ") }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editPayment(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deletePayment(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </template>
      </v-col>
      <!-- PAYMENTS-->

      <!-- CARS-->
      <v-col cols="12" sm="6" md="6" class="">
        <template>
          <v-data-table
            :headers="headersCars"
            :items="customer.cars"
            sort-by="year"
            class="list-class"
            hide-default-footer
          >
            <template v-slot:top>
              <v-toolbar flat>
                <h3>Auta</h3>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-dialog v-model="dialogCars" max-width="500px">
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">
                      Přidat auto
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitleCars }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-form
                          ref="form"
                          v-model="valid"
                          :lazy-validation="lazy"
                        >
                          <v-row>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedCar.factory"
                                label="Značka"
                                required
                                :rules="carModelRules"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedCar.manufacturedYear"
                                label="Rok výroby"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedCar.winCode"
                                label="WIN Kód"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="editedCar.spz"
                                label="SPZ"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeCarDialog"
                        >Storno</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="saveCar"
                        :disabled="!valid"
                        >Uložit</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editCar(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteCar(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </template>
      </v-col>
      <!-- CARS -->
    </v-row>
  </v-card>
</template>

<script>
import axios from "axios";
export default {
  components: {},
  layout: "dark",
  async fetch({ params, store }) {
    let response = await axios.get(
      process.env.baseUrl + `customer/all/${params.id}`
    );
    store.commit("SET_CURRENT_CUSTOMER_COMPLET", response.data);
  },
  data() {
    return {
      lazy: false,
      valid: true,
      dialogCars: false,
      dialogPayments: false,
      dialogContract: false,
      ContractStartDate: false,
      ContractEndDate: false,
      PaymentDate: false,
      carModelRules: [v => !!v || "Značku je nutné vyplnit"],
      carRules: [v => !!v || "Auto je nutné vyplnit"],
      headersCars: [
        {
          text: "Značka",
          align: "start",
          value: "factory"
        },
        { text: "WIN Kód", value: "winCode" },
        { text: "Rok výroby", value: "manufacturedYear" },
        { text: "Akce", value: "actions", sortable: false }
      ],
      headersContract: [
        {
          text: "Datum začátku",
          value: "startDate",
          align: "start"
        },
        {
          text: "Datum konce",
          value: "endDate"
        },
        { text: "Náklady", value: "costParts" },
        { text: "Příjem", value: "incomeParts" },
        { text: "Zisk z prace", value: "incomeWork" },
        { text: "Čistý zisk", value: "totalProfit" },
        { text: "Detail", value: "actions", sortable: false }
      ],
      headersPayments: [
        {
          text: "Datum",
          align: "start",
          value: "date"
        },
        { text: "Částka", value: "amount" },
        { text: "Akce", value: "actions", sortable: false }
      ],
      editedCarIndex: -1,
      editedCar: {
        spz: null,
        manufacturedYear: null,
        factory: null,
        winCode: null
      },
      editedContractIndex: -1,
      selectedCarForContract: -1,
      editedContract: {
        name: null,
        notes: null,
        startDate: new Date().toISOString().substr(0, 10),
        endDate: new Date().toISOString().substr(0, 10),
        hourCount: null,
        hourRate: null
      },
      editedPayment: {
        amount: 0,
        date: new Date().toISOString().substr(0, 10),
      }
    };
  },
  computed: {
    formTitleCars() {
      return this.editedCarIndex === -1 ? "Přidat auto" : "Editace auta";
    },
    formTitlePayments() {
      return this.editedPaymentIndex === -1
        ? "Přidat platbu"
        : "Editace platby";
    },
    formTitleContracts() {
      return this.editedContractIndex === -1
        ? "Přidat opravu"
        : "Editace opravy";
    },
    incomeWork() {
      return this.editedContract.hourCount * this.editedContract.hourRate;
    },
    customer() {
      return this.$store.state.currentCustomer;
    }
  },
  methods: {
    changeSelectCar(carID) {
      this.selectedCarForContract = carID;
    },

    closeCarDialog() {
      this.dialogCars = false;
      setTimeout(() => {
        this.editedCar.spz = null;
        this.editedCar.manufacturedYear = null;
        this.editedCar.factory = null;
        this.editedCar.winCode = null;
        this.editedCarIndex = -1;
      }, 300);
    },

    closePaymentDialog() {
      setTimeout(() => {
        this.editedPayment.date = new Date().toISOString().substr(0, 10) ;
        this.editedPayment.amount = 0;

        this.editedPaymentIndex = -1;
      }, 300);
      this.dialogPayments = false;
    },

    closeContractDialog() {
      this.dialogContract = false;
      setTimeout(() => {
        this.editedContract.name = null;
        this.editedContract.notes = null;
        this.editedContract.startDate = new Date().toISOString().substr(0, 10) ;
        this.editedContract.endDate = new Date().toISOString().substr(0, 10);
        this.editedContract.hourCount = null;
        this.editedContract.hourRate = null;
        this.selectedCarForContract = -1;
        this.editedContractIndex = -1;
      }, 300);
    },

    async saveCar() {
      if (this.editedCarIndex > -1) {
        let response = await axios.patch(
          process.env.baseUrl + `car/${this.editedCar._id}`,
          {
            manufacturedYear: this.editedCar.manufacturedYear,
            spz: this.editedCar.spz,
            factory: this.editedCar.factory,
            winCode: this.editedCar.winCode,
            customer_id: this.customer._id
          }
        );
        this.$store.commit("SET_CURRENT_CUSTOMER_CARS", response.data.cars);
      } else {
        try {
          let response = await axios.post(
            process.env.baseUrl + `car/${this.customer._id}`,
            {
              manufacturedYear: this.editedCar.manufacturedYear,
              spz: this.editedCar.spz,
              factory: this.editedCar.factory,
              winCode: this.editedCar.winCode,
              customer_id: this.customer._id
            }
          );
          this.$store.commit("SET_CURRENT_CUSTOMER_CARS", response.data.cars);
        } catch (error) {
          console.log(error);
        }
      }
      this.closeCarDialog();
    },

    async deleteCar(car) {
      if (confirm("Opravdu chcete smazat auto?")) {
        try {
          let response = await axios.delete(
            process.env.baseUrl + `api/car/${car._id}`,
            {
              data: {
                customer_id: this.customer._id
              }
            }
          );
          this.$store.commit("SET_CURRENT_CUSTOMER_CARS", response.data.cars);
        } catch (error) {
          alert(error.response.data.error);
        }
      }
    },

    async editCar(car) {
      this.editedCarIndex = this.customer.cars.indexOf(car);
      this.editedCar = Object.assign({}, car);
      this.dialogCars = true;
    },

    async saveContract() {
      console.log(this.editedContract);
      try {
        let response = await axios.post(
          process.env.baseUrl + `contract/${this.customer._id}`,
          {
            name: this.editedContract.name,
            notes: this.editedContract.notes,
            startDate: this.editedContract.startDate,
            endDate: this.editedContract.endDate,
            hourCount: this.editedContract.hourCount,
            hourRate: this.editedContract.hourRate,
            incomeWork: this.incomeWork,
            customer_id: this.customer._id,
            car_id: this.selectedCarForContract
          }
        );
        this.$store.commit("SET_CURRENT_CUSTOMER_COMPLET", response.data);
      } catch (error) {
        console.log(error);
      }
        this.closeContractDialog();
    },

    async savePayment() {
      if (this.editedPaymentIndex > -1) {
        let response = await axios.patch(
          process.env.baseUrl + `payment/${this.editedPayment._id}`,
          {
            date: this.editedPayment.date,
            amount: this.editedPayment.amount,
            customer_id: this.customer._id
          }
        );
        this.$store.commit("SET_CURRENT_CUSTOMER_COMPLET", response.data);
      } else {
        try {
          let response = await axios.post(
            process.env.baseUrl + `payment/${this.customer._id}`,
            {
              date: this.editedPayment.date,
              amount: this.editedPayment.amount,
              customer_id: this.customer._id
            }
          );
          this.$store.commit("SET_CURRENT_CUSTOMER_COMPLET", response.data);
        } catch (error) {
          console.log(error);
        }
      }
      this.closePaymentDialog();
    },

    async editPayment(payment) {
      this.editedPaymentIndex = this.customer.payments.indexOf(payment);
      this.editedPayment = Object.assign({}, payment);
      this.editedPayment.date = new Date(
        this.editedPayment.date
      ).toLocaleDateString("cs-CZ");
      this.dialogPayments = true;
    },

    async deletePayment(payment) {
      if (confirm("Opravdu chcete smazat platbu?")) {
        try {
          let response = await axios.delete(
            process.env.baseUrl + `payment/${payment._id}`,
            {
              data: {
                customer_id: this.customer._id
              }
            }
          );
          this.$store.commit("SET_CURRENT_CUSTOMER_COMPLET", response.data);
        } catch (error) {
          alert(error.response.data.error);
        }
      }
    }
  }
};
</script>

<style scoped>
body {
  color: white;
}
.detail-input {
  /* padding: 0 12px 0 12px !important; */
  max-height: 50px;
}

.detail-customer {
  min-height: 595px;
  padding: 20px;
  /* margin-left: 20px !important; */
}

.list-class {
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.without-under {
  text-decoration: none;
}
</style>
