<template>
  <v-app id="inspire">
   
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item :to="{ path: '/' }" link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Domů</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group
          dense
          :key="item.text"
          v-model="item.model"
          :prepend-icon="
            item.model ? setting_object.icon : setting_object['icon-alt']
          "
          append-icon=""
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="(child, i) in item.children"
            :key="i"
            :to="child.link"
            link
            active-class="border"
          >
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ child.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          dense
          :key="item2.text"
          v-model="item2.model"
          :prepend-icon="
            item2.model ? setting_object.icon : setting_object['icon-alt']
          "
          append-icon=""
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                {{ item2.text }}
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="(child, i) in item2.children"
            :key="i"
            :to="child.link"
            link
            active-class="border"
          >
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ child.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <v-list-group
          dense
          :key="item3.text"
          v-model="item3.model"
          :prepend-icon="
            item3.model ? setting_object.icon : setting_object['icon-alt']
          "
          append-icon=""
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                {{ item3.text }}
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="(child, i) in item3.children"
            :key="i"
            :to="child.link"
            link
            active-class="border"
          >
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ child.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Auto klimek</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <nuxt />
        </v-row>
      </v-container>
    </v-content>

    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    setting_object: {
      icon: "mdi-chevron-up",
      "icon-alt": "mdi-chevron-down"
    },
    item: {
      text: "Zakázky",
      model: false,
      "icon-alt": "mdi-gas-station",
      children: [
        {
          text: "Přehled",
          link: "/contract/contract-list",
          icon: "mdi-chart-pie"
        },
        {
          text: "Přidat",
          link: "/contract/contract-add",
          icon: "mdi-plus"
        }
      ]
    },
    item2: {
      text: "Platby",
      model: false,
      "icon-alt": "mdi-cash-multiple",
      children: [
        {
          text: "Přehled",
          link: "/payment/payment-list",
          icon: "mdi-chart-line"
        },
        {
          text: "Přidat",
          link: "/payment/payment-add",
          icon: "mdi-plus"
        }
      ]
    },
    item3: {
      text: "Zákazníci",
      model: false,

      children: [
        {
          text: "Přehled",
          link: "/customer/customer-list",
          icon: "mdi-chart-bar"
        },
        {
          text: "Přidat",
          link: "/customer/customer-add",
          icon: "mdi-plus"
        }
      ]
    }
  }),
  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>
<style scoped>
.border {
  color: #ffffff;
}

.v-list-group--active {
  background-color: #454545 !important;
}

.v-list-group__header .v-list-item__content {
  color: #ffffff;
}
.mdi-chevron-up {
  color: #ffffff !important;
}
</style>
