<template>
  <div>LIST of contract</div>
</template>

<script>
export default {
  components: {},
  layout: "dark",
  async mounted() {
    try {
      await this.$axios
        .$get(process.env.baseUrl + "car/")
        .then(res => console.log(res));
    } catch (error) {
      this.info = error.response.data.error;
    }
  }
};
</script>

<style scoped>
body {
  color: white;
}
</style>
