<template>
  <v-card class="list-customer mx-auto" outlined>
    <h2>Zákazníci</h2>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Hledat"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="customers"
      sort-by="name"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:item.actions="{ item }">
        <nuxt-link
          class="without-under"
          :to="{
            path: '/customer/customer-detail/',
            name: 'customer-customer-detail-id',
            params: { id: item._id }
          }"
        >
          <v-icon small class="mr-2">
            mdi-account-details
          </v-icon>
        </nuxt-link>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  components: {},
  layout: "dark",
  methods: {
    editItem(item) {
      console.log("editace itemu");
      console.log(item);
    },

    deleteItem(item) {
      console.log("mazani itemu ");
      console.log(item);
    }
  },
  data: () => ({
    search: "",
    dialog: false,
    headers: [
      {
        text: "Jmémo",
        align: "start",
        sortable: true,
        value: "name"
      },
      { text: "Příjmení", value: "surname" },
      { text: "Město", value: "city" },
      { text: "Bilance", value: "debt" },
      { text: "Detail", value: "actions", sortable: false }
    ]
  }),
  async mounted() {
    console.log(process.env.VUE_APP_BASE_URL);
    let response = await this.$axios.get(process.env.baseUrl + "customer/");
    this.$store.commit("SET_CUSTOMERS", response.data);
  },
  computed: {
    customers() {
      return this.$store.state.customers;
    }
  }
};
</script>

<style lang="scss" scoped>
body {
  color: white;
}

.list-customer {
  min-height: 595px;
  padding: 20px;
  /* margin-left: 20px !important; */
}

.without-under {
  text-decoration: none;
}

.elevation-1 {
  margin-top: 20px !important;
}
</style>
