<template>
  <v-card class="add-form mx-auto" outlined>
    <h2>Přidat zákazníka</h2>
    <v-form ref="form" v-model="valid" :lazy-validation="lazy">
      <v-text-field
        v-model="name"
        :counter="25"
        :rules="nameRules"
        label="Jméno"
        required
      ></v-text-field>
      <v-text-field
        v-model="surname"
        :counter="25"
        :rules="surnameRules"
        label="Příjmení"
        required
      ></v-text-field>

      <v-text-field v-model="email" label="E-mail" required></v-text-field>

      <v-text-field v-model="street" label="Ulice" required></v-text-field>
      <v-text-field v-model="city" label="Město" required></v-text-field>
      <v-text-field v-model="phone" label="Telefon" required></v-text-field>

      <v-btn
        :disabled="!valid"
        color="success"
        class="mr-4"
        @click="addCustomer"
      >
        Přidat
      </v-btn>
      <v-btn color="error" class="mr-4" @click="clearForm">
        Vymazat
      </v-btn>
      <p>{{ info }}</p>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: "customer-add",
  layout: "dark",

  data: () => ({
    valid: true,
    name: "",
    surname: "",
    nameRules: [
      v => !!v || "Jméno je nutné vyplnit",
      v => (v && v.length <= 25) || "Nesmí být delší než 25 znaků."
    ],
    surnameRules: [
      v => !!v || "Příjmení je nutné vyplnit",
      v => (v && v.length <= 25) || "Nesmí být delší než 25 znaků."
    ],
    email: "",
    street: "",
    city: "",
    phone: "",
    info: "",
    emailRules: [
      v => /.+@.+\..+/.test(v) || "E-mail není ve správném formátu."
    ],

    lazy: false
  }),
  created() {
    console.log("created");
  },
  methods: {
    async addCustomer() {
      try {
        //ulozim si odpoved do promenne minimalne _id a presmeruji na jeho detail.
        let response = await this.$axios.$post(
          process.env.baseUrl + "customer",
          {
            name: this.name,
            surname: this.surname,
            city: this.city,
            street: this.street,
            email: this.email,
            phone: this.phone,
            postNumber: this.postNumber
          }
        );

        setTimeout(() => {
          this.$router.push({
            path: "/customer/customer-list/"
          });
        }, 500);
      } catch (error) {
        this.info = error.response.data.error;
      }
    },
    clearForm() {
      this.$refs.form.reset();
    }
  }
};
</script>

<style scoped>
body {
  color: white;
}
.add-form {
  padding: 20px;
  min-width: 300px;
}
</style>
